*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #250057;
}

.input-box{
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding:10px 30px;
    margin:300px auto;
    display: flex;
    align-items: center;
}
.input-box input{
    width:100%;
    padding: 10px 0;
    border:none;
    outline: none;
    font-size: 24px;
    color: #555;
}

.input-box i{
       color:#ff69b4;
       cursor: pointer;
       font-size: 24px;
}


/* Hide default password reveal icon (Edge / IE) */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}
